/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  /* line-height: calc(2px + 2ex + 2px); */
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: all;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  font-size: max(16px, 1rem);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Using below when you use framework */
/* #root, #__next {
  isolation: isolate;
} */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --fz-md: 1rem;
  --fz-lg: calc(var(--fz-md) * 1.25);
  --fz-xl: calc(var(--fz-md) * 1.5);
  --ff-primary: "PingFang TC", sans-serif;
  --ff-secondary: "Helvetica Neue", sans-serif;
  --ff-others: Times, sans-serif;
  --fw-semiBold: 600;
  --fw-regular: 400;
  --fw-light: 300;
  --clr-primary: #3F5D45;
  --clr-secondary: #EAF0ED;
  --clr-others: #FFE180;
  --space-1: 1.875rem;
  --space-2: 2.8125rem;
  --space-3: 3.75rem;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fz-md);
  font-weight: var(--fw-semiBold);
  color: var(--clr-primary);
}

a {
  display: block;
  text-decoration: none;
}
a:where(:active, :visited, :link) {
  color: inherit;
}

[class*=__link] {
  display: inline-block;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

.header {
  width: min(100% - var(--space-3), 58.75rem);
  margin-inline: auto;
  padding-block: var(--space-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__shopping-cart {
  width: clamp(1.5rem, 5.2vw, 2.25rem);
}
@media (min-width: 56.25rem) {
  .header__shopping-cart {
    width: 1.5rem;
  }
}

.banner {
  width: min(100%, 58.75rem);
  margin-inline: auto;
  background-image: url(https://bit.ly/2Qodh3Z);
  background-size: cover;
  padding: var(--space-1);
}
.banner__slogan {
  width: 15.85%;
  margin-inline-start: auto;
}

@media (min-width: 38.75rem) {
  .menu {
    margin-block-start: var(--space-3);
    display: grid;
    grid-template-columns: 18.75rem 1fr;
    gap: 1.25rem;
    justify-content: center;
  }
}
@media (min-width: 56.25rem) {
  .menu {
    width: min(100%, 58.75rem);
    margin-inline: auto;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-block-end: var(--space-1);
}
@media (min-width: 48.75rem) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.footer {
  background-color: var(--clr-secondary);
  padding-block: var(--space-1);
  font-weight: var(--fw-regular);
}
.footer__wrapper {
  width: min(100% - var(--space-3), 48.75rem);
  margin-inline: auto;
}
.footer__logo {
  width: 10.7rem;
}
.footer__shop-info {
  margin-block: 2.25rem;
  font-family: var(--ff-secondary);
}
.footer__social-media {
  display: grid;
  grid-template-columns: 2rem 2rem;
  gap: 0.5rem;
}
.footer__copyright {
  margin-block-start: 1.5rem;
  font-family: var(--ff-others);
}
.footer_none {
  display: none;
}
@media (min-width: 38.75rem) {
  .footer {
    min-height: 21.25rem;
  }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer_none {
    display: block;
  }
  .footer__slogan {
    margin-inline-start: auto;
    width: var(--space-3);
  }
  .footer__left {
    display: flex;
    flex-direction: column;
  }
  .footer__shop-info {
    margin-block-start: auto;
  }
  .footer__copyright {
    margin-block-start: var(--space-2);
  }
}

.logos {
  width: min(36.2%, 13.7181rem);
}
@media (min-width: 56.25rem) {
  .logos {
    display: flex;
    gap: 3.8%;
    align-items: center;
    justify-content: space-between;
  }
}

.logo_desktop-only {
  visibility: hidden;
  width: 0;
}
@media (min-width: 56.25rem) {
  .logo {
    width: 78%;
  }
  .logo_desktop-only {
    visibility: visible;
    flex: 0 0 2.5rem;
  }
}

.hamburger {
  display: inline-block;
  width: clamp(1.5rem, 6vw, 3rem);
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
}
.hamburger__style {
  display: inline-block;
  width: 75%;
  height: clamp(2px, 0.45vw, 3px);
  margin: auto;
  position: relative;
  background-color: var(--clr-primary);
}
.hamburger__style::before, .hamburger__style::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: clamp(2px, 0.45vw, 3px);
  background-color: inherit;
}
.hamburger__style::before {
  top: clamp(5px, 1.2vw, 10px);
}
.hamburger__style::after {
  bottom: clamp(5px, 1.2vw, 10px);
}
@media (min-width: 56.25rem) {
  .hamburger {
    display: none;
  }
}

.nav {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: calc(var(--space-1) * -1);
  width: 100vw;
  background-color: #fff;
  text-align: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.1s ease;
}
.nav__item {
  margin-block-end: 2.5vmin;
}
.nav__link {
  opacity: 0;
}
.nav__link:hover {
  text-decoration: underline;
}
@media (min-width: 56.25rem) {
  .nav {
    position: relative;
    visibility: visible;
    transform: scaleY(1);
    background-color: transparent;
    inset: 0;
    width: min(22.87%, 13.4375rem);
    margin-inline: auto min(7.7vw, 4.9375rem);
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
  .nav__item {
    margin-block-end: 0;
  }
  .nav__link {
    opacity: 1;
  }
}

#nav-toggle {
  display: none;
}
#nav-toggle:checked + .nav {
  visibility: visible;
  transform: scaleY(1);
}
#nav-toggle:checked + .nav .nav__link {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.category {
  line-height: 1.6666666667;
  font-size: var(--fz-xl);
  text-align: center;
}
.category__title {
  font-size: inherit;
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
  pointer-events: none;
}
.category__link {
  width: 100%;
  border-bottom: 1px solid var(--clr-secondary);
}
.category__link:hover {
  background-color: var(--clr-secondary);
}
.category__title, .category__link {
  padding-block: 1rem;
}

.card {
  width: 19.6875rem;
  margin-inline: auto;
  margin-block-start: var(--space-1);
}
.card_none {
  display: none;
}
.card__display {
  width: 100%;
  height: 19.6875rem;
  position: relative;
}
.card__category {
  width: min-content;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  line-height: 1.25;
  padding: 3.33%;
  position: absolute;
  left: 6.67%;
}
.card_pic_1 {
  background-image: url("https://bit.ly/2QiWeQW");
  background-size: cover;
  background-position: center;
}
.card_pic_2 {
  background-image: url("https://bit.ly/2zBjQuq");
  background-size: cover;
  background-position: center;
}
.card_pic_3 {
  background-image: url("https://bit.ly/2zKOP7w");
  background-size: cover;
  background-position: center;
}
.card_pic_4 {
  background-image: url("https://bit.ly/2NcDVuB");
  background-size: cover;
  background-position: center;
}
.card_pic_5 {
  background-image: url("https://bit.ly/2zBDAxX");
  background-size: cover;
  background-position: center;
}
.card_pic_6 {
  background-image: url("https://bit.ly/2zL5jN7");
  background-size: cover;
  background-position: center;
}
.card__info {
  display: flex;
}
.card__name, .card__price {
  font-size: var(--fz-lg);
  text-align: center;
  padding-block: 1rem;
  border-right: 1px solid var(--clr-secondary);
}
.card__price {
  width: 42.33%;
}
.card__name {
  width: 57.67%;
  font-weight: var(--fw-light);
  border-left: 1px solid var(--clr-secondary);
}
.card__btn {
  width: 100%;
}
@media (min-width: 38.75rem) {
  .card {
    width: max(18.75rem, 100% - 5rem);
    margin-block-start: 0;
  }
}
@media (min-width: 48.75rem) {
  .card {
    width: 100%;
  }
  .card_none {
    display: block;
  }
}

.favorite-selector {
  position: absolute;
  inset: 6% 7.5% auto auto;
}

.btn {
  text-align: center;
  padding-block: 1rem;
  font-size: var(--fz-xl);
}

.btn_secondary {
  background-color: var(--clr-secondary);
}

.btn_others {
  background-color: var(--clr-others);
}

.paginator__list {
  width: min(78.93%, 18.5rem);
  margin-inline: auto;
  display: flex;
}
.paginator__item {
  width: 100%;
}
.paginator__link {
  width: 100%;
  font-size: var(--fz-lg);
  border: 1px solid var(--clr-secondary);
}
.paginator__link + .paginator__link {
  border-left: none;
}
.paginator__link svg {
  margin-inline: auto;
}
.paginator__prev:active svg, .paginator__next:active svg {
  fill: var(--clr-secondary);
}
@media (min-width: 48.75rem) {
  .paginator {
    width: min(100%, 58.75rem);
    margin-inline: auto;
  }
  .paginator__list {
    margin-inline-end: 0;
  }
}

.paginator_current-page, .paginator__prev:active, .paginator__next:active {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}

.cta {
  margin-block-start: var(--space-1);
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  padding-block: var(--space-1);
}
.cta__wrapper {
  width: min(100% - var(--space-3), 48.75rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
.cta__title {
  margin-inline: auto;
  display: flex;
  gap: 1.25rem;
  font-size: var(--fz-xl);
  font-weight: var(--fw-regular);
  align-items: center;
  justify-content: center;
}
.cta__logo {
  width: 2.5rem;
}
.cta__form {
  width: min(100%, 23.75rem);
  margin-inline: auto;
  display: flex;
  align-items: stretch;
}
.cta__input {
  flex: 1;
}
.cta__btn {
  padding-inline: 1.5rem;
}
@media (min-width: 48.75rem) {
  .cta__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .cta__form, .cta__title {
    margin-inline: 0;
  }
}

.input {
  padding-block: 0.8125rem;
  border: 1px solid var(--clr-secondary);
  background-color: var(--clr-secondary);
}
.input__icon {
  background-color: var(--clr-secondary);
  padding: 1rem clamp(1rem, 5.5vw, 1.25rem);
}

/*# sourceMappingURL=style.css.map */
