@use '../abstract/mixins' as *;

.card {
  @include container(var(--space-1), 23.75rem);
  margin-block-start: var(--space-1);

  &_none {
    display: none;
  }

  &__display {
    width: 100%;
    position: relative;
  }
  
  &__pic {
    aspect-ratio: 1;
    object-fit: cover;
  }

  &__category {
    padding-inline: 3.33%;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    position: absolute;
    left: 6.67%;
    top: 0;

    writing-mode: vertical-lr;
    line-height: 2.375;
    letter-spacing: 5px;
  }

  &__info {
    display: flex;
  }

  &__name,
  &__price {
    font-size: var(--fz-lg);
    text-align: center;
    padding-block: 1rem;
    border-right: 1px solid var(--clr-secondary);
  }

  &__price {
    width: 42.33%;
  }

  &__name {
    width: 57.67%;
    font-weight: var(--fw-light);
    border-left: 1px solid var(--clr-secondary);
  }

  &__btn {
    width: 100%;
  }
  
  @include for-phone-up {
    margin-block-start: 0;
  }

  @include for-tablet-up {
    width: 100%;

    &_none {
      display: block;
    }
  }
}

.favorite-selector {
  position: absolute;
  inset: 6% 7.5% auto auto;
}