@use '../abstract/mixins' as *;

.category {
  line-height: calc(40 / 24);
  font-size: var(--fz-xl);
  text-align: center;

  &__title {
    font-size: inherit;
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
    pointer-events: none;
  }

  &__link {
    width: 100%;
    border-bottom: 1px solid var(--clr-secondary);

    &:hover {
      background-color: var(--clr-secondary);
    }
  }

  &__title,
  &__link {
    padding-block: 1rem;
  }
}