@use '../abstract/mixins' as *;

.paginator {
  @include for-tablet-up {
    --custom-space: 0rem;
    @include container;
  }

  &__list {
    width: min(78.93%, 18.5rem);
    margin-inline: auto;
    display: flex;

    @include for-tablet-up {
      margin-inline-end: 0;
    }
  }

  &__item {
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid var(--clr-secondary);
    
    & + & {
      border-left: none;
    }

  }
  
  &__link {
    text-align: center;
    width: 100%;
    padding-block: calc((100% - 1.5rem) / 2);
    font-size: var(--fz-lg);

    & svg {
      margin-inline: auto;
    }
  }

  &__prev:active,
  &__next:active {
    @extend .paginator_current-page;
    svg {
      fill: var(--clr-secondary);
    }
  }
}

.paginator_current-page {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}