:root {
  --fz-md: 1rem;
  --fz-lg: calc(var(--fz-md) * 1.25);
  --fz-xl: calc(var(--fz-md) * 1.5);

  --ff-primary: 'PingFang TC', sans-serif;
  --ff-secondary: 'Helvetica Neue', sans-serif;
  --ff-others: Times, sans-serif;

  --fw-semiBold: 600;
  --fw-regular: 400;
  --fw-light: 300;

  --clr-primary: #3F5D45;
  --clr-secondary: #EAF0ED;
  --clr-others: #FFE180;

  --space: 1.875rem;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fz-md);
  font-weight: var(--fw-semiBold);
  color: var(--clr-primary);
}

a {
  display: block;
  text-decoration: none;
  
  &:where(:active, :visited) {
    color: inherit;
  }
}

[class*="__link"] {
  display: inline-block;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}