:root {
  --fz-md: 1rem;
  --fz-lg: calc(var(--fz-md) * 1.25);
  --fz-xl: calc(var(--fz-md) * 1.5);

  --ff-primary: 'PingFang TC', sans-serif;
  --ff-secondary: 'Helvetica Neue', sans-serif;
  --ff-others: Times, sans-serif;

  --fw-primary: 600;
  --fw-secondary: 400;
  --fw-others: 300;

  --clr-primary: #3F5D45;
  --clr-secondary: #EAF0ED;
  --clr-others: #FFE180;
}