@use '../abstract/mixins' as *;

.banner {
  --custom-space: 0rem;
  @include container;

  background-image: url(https://bit.ly/2Qodh3Z);
  background-size: cover;
  padding: var(--space);

  &__slogan {
    width: 15.85%;
    margin-inline-start: auto;
  }
}