@use '../abstract/mixins' as *;

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-block-end: var(--space);

  @include for-tablet-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}