@use '../abstract/mixins' as *;

.header {
  @include container(var(--space-3), 0);

  padding-block: var(--space-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__shopping-cart {
    width: clamp(1.5rem, 5.2vw, 2.25rem);

  }
  
  @include for-desktop-up {
    &__shopping-cart {
      width: 1.5rem;
    }
  }
}